.app-wrapper {
    margin: 0 auto;
    display: grid;
    grid-gap: 5px;
    width: 960px;

    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 1fr 3fr;
}

.app-wrapper-content {
    grid-area: c;
    background-color: #a8a7a7;
    width: auto;
}


